body,ul,h1,p {margin:0px;}
li{padding:0px;}



.header ,footer{
	height:80px;
	background-color:#333;
	line-height:80px;
}
.section {
	width:100%;
	overflow:hidden;
	background-color:#DEDEDE;
}

.header h1 {
	float:left;
	margin-left:30px;
	color:#F00;
}

.header a{
	color:#FFF;
	height:80px;
	font-size:10px;
	line-height:80px;
	text-decoration:none;
}
.header ul{
	float:right;
	height:80px;
}
.header ul li{
	float:left;
	margin-right:20px;
	
}

.article, .pics, aside {
	margin:20px;
	padding:40px 20px;
	box-shadow:3px 3px 3px #888;
	background-color:#FFF;
}
.article ul{
	list-style-type:none;
}
.article p {
	text-indent:2em;
}

.article > h3 {color:#888;}
.gray{color:#888;}

/*.pics > figure{
	border:1px solid #888;
}*/
.pics ul {list-style-type:none;}
.pics ul li {border:1px solid #888; width:200px;}
.pics img{
	max-width:100%;
}
.article table{
	width:100%;
	border-collapse:collapse;
}
.article table,.article table td { padding:10px; border:1px solid #DDD;}
.article thead{background-color:#333; color:#FFF;}
.article tfoot{background-color:#CCC;}


.aside form {
	margin:40px 0px;
}
.form-row{padding:5px 0;}
.aside form span{
	display:inline-block;
	text-align:right;
	width:40%;
}
.form-btn{text-align:center;}
.button {
	width:80%;
	background-color:#3355D0;
	color:#FFF;
}

footer {
	color:#FFF;
	text-align:center;

}
